{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/modules/scrollbar/scrollbar.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'app/images/HOJA.png' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Signika+Negative&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/>
    <title>Proyectos Hidráulicos | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow" style="font-family:Chakra Petch; display:flex; justify-content:space-between; padding: 10px 25px;" >
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'app/images/HEADER-removebg-preview.png' %}"
            width="200"
            height="70"
          />
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link text-dark link-success" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark link-success" href="{% url 'about' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark link-success" href="{% url 'contact' %}">Contacto</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="/search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              name="search"
              aria-label="Buscar"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown mx-2" >
              <a
                class="nav-link dropdown-toggle text-dark"
                href="#"
                id="profileDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              > <span class="text-capitalize"><i class="fa-regular fa-user"></i>   {{user.first_name}}</span></a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item " href="{% url 'profile' %}">Perfil</a></li>
                <li><a class="dropdown-item " href="{% url 'list_orders' %}">Cotizaciones</a></li>
                <li><a class="dropdown-item " href="{% url 'passwordchange' %}">Cambiar contraseña</a></li>
                <li><a class="dropdown-item " href="{% url 'logout' %}">Cerrar sesión</a></li>
              </ul>

            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'showcart' %}" class="nav-link text-dark link-success"><span class="badge bg-danger">{% if totalitem > 0 %} {{totalitem}} {% endif %}</span><i class="fa-regular fa-cart-shopping"></i></a>
            </li>

            {% else %}
            <li class="nav-item mx-2">
              <a href="{% url 'login' %}" class="nav-link text-dark link-success">Iniciar sesión</a>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'customerregistration' %}" class="nav-link text-dark link-success">Registro</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    {% block banner-slider %}{% endblock banner-slider %}
    {% block information %}{% endblock information %}
    {% block main-content %}{% endblock main-content %}

    {% block payment-gateway %}{% endblock payment-gateway %}

    <a href="https://api.whatsapp.com/send?phone=56922358252&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20." class="float" target="_blank">
      <i class="fa-brands fa-whatsapp my-float"></i>
      </a>


    <div class="blockcode">
      <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #3b5998;"
                  href="https://web.facebook.com/proyectos.hidraulicos.7"
                  role="button"
                  target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Gmail -->
                <a
                  class="btn text-white btn-floating m-1"
                  style="background-color: #dd4b39;"
                  href="mailto:administracion@proyectoshidraulicos.cl"
                  role="button"
                  target="_blank"
                  ><i class="fa-solid fa-envelope"></i></a>

                <!-- Instagram -->
                <a
                  class="btn text-white btn-floating m-1 instagram"
                  style="background-color:  #d6249f;"
                  href="https://www.instagram.com/prohidraulicosltda/"
                  role="button"
                  target="_blank"
                  ><i class="fa-brands fa-instagram"></i></a>

          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family:Gabarito">
          <small class="ml-2">&copy; Proyectos Hidráulicos, 2023. Todos los derechos reservados.</small>
        </div>
        <!-- Copyright -->
      </footer>
    </div>






     <script src="//code.tidio.co/auomfujz846sgf75xv85hz2abgfejeco.js" async></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHjf0owq4j0WJGu6hnkq4UhUFUjMwlhRA&libraries=places&callback=initMap" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>



    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>



  </body>
</html>
