{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
<div class="row mt-4">
    <div class="col-sm-6">
        <h4>Detalles del pedido</h4>
        <br>
        {% for item in cart_items  %}
        <div class="card mb-2">
            <div class="card-body">
                <img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="200" width="100">
                <h5 id="title">{{item.product.name}}</h5>
                <p id="quantity">Cantidad: {{item.quantity}}</p>
                <p class="fw-bold" id="unit_price">Precio: ${{item.product.selling_price}}</p>
            </div>
        </div>
        {% endfor %}
        <small style="font-size:17px; color:red"><strong>IMPORTANTE: </strong></small>
        <small style="font-size:15px">El despacho de productos tiene un valor de $1472 x KM el que se agregará al monto total una vez calculada la distancia existente entre nuestra ubicación y la del cliente.</small>
    </div>
    <div class="col-sm-5 offset-sm-1" >
        <br>
        <div class="d-grid gap-2col-8 mx-auto">
            <button class="btn btn-outline-success" type="button" onclick="mostrar()">Despacho a domicilio</button>
            <br>
            <button type="button" class="btn btn-outline-secondary" id="atras" onclick="atras()" style="display:none; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Atrás</button>
            <div class="container" id="most" style="display:none;">
                <br>
                <h4>Calcular distancia de envío</h4>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="from"></label>
                        <input type="text" id="from" class="form-control" value="Callejon de Los Burros, La Huerta, Romeral" readonly onmousedown="return false;">
                    </div>
                    <div class="form-group">
                        <label for="to"></label>
                        <input type="text" id="to" placeholder="Destino" class="form-control pac-target-input" autocomplete="off">
                    </div>
                </form>
                <br>
                <div class="form-group">
                    <button class="btn btn-success" id="calculate" onclick="calcRoute()">Ver distancia</button>
                </div>

                <div class="container-fluid" id="most">
                    <div id="output" class="output" style="text-align:center; font-size:17px; margin:10px auto;">
                    </div>

                    <div id="totalcost" class="totalcost" style="text-align:center; font-size:17px; margin:10px auto;">
                    </div>

                    <div id="googleMap" style="width:80%; height:300px; margin:10px auto"></div>
                </div>
            </div>
        <button class="btn btn-outline-success" id="ocul" type="button" onclick="ocultar()">Retiro en tienda</button>
        <br>

        <form id="form" action="https://formspree.io/f/meqwbvja" method="POST">

            {% csrf_token %}
            <input name="cliente" class="form-control" value={{request.user.username}} style="display:none;">

            {% for item in cart_items  %}
            <input name="titulo" class="form-control" value={{item.product.name}} style="display:none;">
            <input name="cantidad" class="form-control" value={{item.quantity}} style="display:none;">
            <input name="precio" class="form-control" value={{item.product.selling_price}}  style="display:none;">
            {% endfor %}

                <label  class="form-label" style="font-size:17px;"><i class="fa-solid fa-money-bill-1-wave fa-shake" style="color:green"></i>      <strong>Monto Total </strong></label>

                <input type="number" name="sinenvio" class="form-control" id="totalamount" onclick="ocultar()" value={{totalamount}} readonly style="display:none;">

                <input type="number" name="conenvio" class="form-control" id="totalamountt" onclick="calcRoute()" value={{totalamount}} readonly style="display:none;">
                <br>
                <label  class="form-label" style="font-size:15px; display:none;" id="correo"><i class="fa-solid fa-circle-info fa-beat-fade" style="color:green"></i>  <strong>Déjanos tus datos para ponernos en contacto contigo </strong>
                    <br>

                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" >
                    <br>
                    <input type="email" name="correo" placeholder="Correo" class="form-control" >
                    <br>
                    <input type="number" name="contacto" placeholder="Número de contacto" class="form-control" >
                </label>

            <br><br>
            <div class="text-end">
                <button type="submit" class="btn btn-success" id="info" style="display:none;">Enviar información</button>
            </div>

        </form>

        </div>
    </div>
    </div>
</div>
</div>
{% endblock main-content %}

{% block payment-gateway %}

{% endblock payment-gateway %}





