{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block main-content %}
<div class="container">

<div class="row mt-4">
    <div class="col-sm-6">
        <h4>Detalles del pedido</h4>
        <br>
        <form method="post">
        {% for item in cart_items  %}
        <div class="card mb-2">
            <div class="card-body">
                <img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="200" width="100">
                <h5 id="title">{{item.product.name}}</h5>
                <p id="quantity">Cantidad: {{item.quantity}}</p>
                {% load humanize %}
                <p class="fw-bold" id="unit_price">Precio: ${{item.product.selling_price|intcomma}} c/u</p>
            </div>
        </div>
        {% endfor %}
        
    </div>
    
    <div class="col-sm-5 offset-sm-1" >
        <br><br>
        <div class="row-container">
            <small style="font-size:17px; color:red"><strong>IMPORTANTE: </strong> </small>
            <small style="font-size:15px; text-align:justify">El despacho de productos tiene un valor de $1.472 x KM el que se agregará al monto total una vez calculada la distancia existente entre nuestra ubicación y la de usted</small>
        
            {% csrf_token %}
            <br><br>
            <select class="form-select" name="delivery_option" id="delivery_option" aria-label=".form-select-lg example">
                <option selected>Elija la opción que más le acomode</option>
                <option value="retiro">Retiro en tienda</option>
                <option value="despacho">Despacho a domicilio</option>

            </select>

            <br>
            <div id="location_field" style="display: none;">

                <input type="text" class="form-control" name="address" id="address" placeholder="Ingrese su ubicación exacta">
            </div>
            <br>
            

            <form action="/list_orders" class="d-inline">
                <button type="submit" class="btn btn-success shadow py-2" style="font-size:14px; font-weight:550; padding:10px 20px; border-radius:4px">Generar orden</button>
            </form>
        </form>

        </div>
    </div>
    </div>
</div>
</div>
<div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
</div>
{% endblock main-content %}

{% block payment-gateway %}

{% endblock payment-gateway %}




