{% extends 'app/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock title %}

{% block banner-slider %}

{% block ad %}

<div id="ad-container">
    <img src="{% static "app/images/carrete.jpg" %}" alt="Advertisement">
    <div class="ad-buttons">
      <a href="{% static "app/archivos/Solucion Irrigat diseno.xlsx" %}" class="ad-button">Planilla de diseño</a>
      <a href="https://proyectoshidraulicos.cl/categories/19/" class="ad-button">Ver carretes</a>
  </div>
</div>

{% endblock ad %}


<div class="hero" style="background-image: url('{% static 'app/images/hero.jpg'%}');">
    <h4 style="font-size:25px font-family:Gabarito" >¡Hola!</h4>
    <h2 style="font-size:46px; line-height:54px;">Puedes revisar nuestros productos</h2>
    <p style="font-size:20px; font-family:Gabarito">Directamente desde el siguiente botón</p>
    <a class="button-53" role="button" href="#categoria">VER PRODUCTOS</a>
</div>
{% endblock banner-slider %}

{% block information %}
<div class="container">
    <div class="row bg text-center p-5 text-dark border-bottom shadow" id="categoria" >
        <h1 ><i class="fa-sharp fa-solid fa-seedling" style="color:green"></i> Bienvenido <i class="fa-sharp fa-solid fa-seedling" style="color:green"></i></h1>
  
        <small class="fs-5" style="font-family:Gabarito">En Proyectos Hidráulicos podrás solicitar la cotización de los productos que necesites y una vez finalizado el proceso, te contactaremos a la brevedad para brindarte más información.
        </small>
    </div>
</div>
{% endblock information %}

{% block main-content %}
        
        <div class="justify-content-center" >
          <br>
          <div class="wrapper-grid" style="justify-content:center;display:grid; grid-template-columns:repeat(auto-fit, 14rem);">
            {% for category in categories  %}
            <div class="card" style="width: 13rem; margin:7px" >
                <img src="{{category.category_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-family:Gabarito">{{category.name}}</h5>
                  <a href="{% url 'category_detail' category_id=category.id %}" class="btn btn-success">IR</a>
                </div>
            </div>
            {% endfor %}
          </div>
          <br><br>
          <div class="justify-content-center">
            <div class="col text-center">
              <button type="button" class="btn btn-success btn-lg align-items-center" ><a href="{% url 'products_without_category' %}" style="text-decoration:none; color:white">
                ver más
               </a> </button>
            </div>	
          </div>
          
        </div>
        
            
      <div id="banner" class="section-m1" style="padding: 5px 0px;display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
            
    </div>

{% endblock main-content %}