{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Irrigat{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/uDcmDd5RTWM?si=co9uammmJeQbrpt7" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


<div id="banner" class="section-m1" style="padding: 5px 0px;display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
    <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
</div>

{% endblock main-content %}