{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cotizaciones{% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <br>
            <h3 style="font-family:Signika Negative" class="text-center">Cotizaciones <i class="fa-solid fa-pen" ></i></h3>
            <h6 style="text-align: center"><span class="text-capitalize">{{request.user}}</span>, aquí podrás ver las cotizaciones que haz solicitado</h6>
            <br>
            
                    
                <div class="table-responsive" style="border-spacing: 10px 5px">  
                    <table class="table table-striped table-bordered table-hover"  >
                        <thead >
                            <tr >
                                <th class="align-middle text-center " >ID</th>
                                <th class="align-middle text-center">Método de entrega</th>
                                <th class="align-middle text-center">Monto Total</th>
                                <th class="align-middle text-center">Fecha</th>
                                <th class="align-middle text-center">Estado</th>
                                <th class="align-middle text-center">Cotización</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for order in orders %}
                            <tr class="table-hover">
                                <td class="align-middle text-center">{{ order.id }}</td>
                                <td class="align-middle text-center">{{ order.delivery_option }}</td>
                                <td class="align-middle text-center">${{ order.total_price }}</td>
                                <td class="align-middle text-center">{{ order.created_at|date:"F d, Y H:i:s" }}</td>
                                <td class="align-middle text-center">{{ order.status }}</td>
                                {% if order.pdf_file %}
                                <td class="align-middle text-center"><a href="{{ order.pdf_file.url }}" target="_blank" style="text-decoration:none; color:black"><strong>Ver/Descargar</strong></a></td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No haz solicitado ninguna cotización</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>


    <div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
    </div>
{% endblock %}

