{% extends 'app/base.html' %}
{% load static %}
{% block title %}Tus pedidos{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <br>
            <h3 style="font-family:Signika Negative">En construcción</i></h3>
            <br>
            <div>
                <iframe src="https://giphy.com/embed/yJwXlLESRVkFd6yQVr" style="justify-content:center;" width="479" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/NEVEREST-construction-under-neverest-yJwXlLESRVkFd6yQVr"></a></p>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
