{% extends 'app/base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <br>
            <h3 style="font-family:Signika Negative">Cambio de contraseña completado!!</h3>
            <br>
            <div>
                <iframe src="https://giphy.com/embed/l41lUjUgLLwWrz20w" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cool-ok-sure-l41lUjUgLLwWrz20w"></a></p>
            </div>
        </div>
    </div>
</div>
<div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
</div>

{% endblock main-content %}


