{% extends 'app/base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3 class="alert-heading" style="text-align:center">Listo!</h3>
                    <p style="font-family:Chakra Petch">Se envió un email con las instrucciones para que pueda restablecer su contraseña <br>Porfavor revise su email</br></p>
                    <iframe src="https://giphy.com/embed/2wWBH0vXsVUmKtRJOe" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thumbs-up-thumb-envelope-2wWBH0vXsVUmKtRJOe"></a></p>
            </div>
        </div>
    </div>
    <div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
    </div>
{% endblock main-content %}


