{% extends 'app/base.html' %}
{% load static %}
{% block title %}Productos{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img src="{{product.product_image.url}}" class="image-col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-75" alt=""/>

            </div>
            <div class="productdetail col-lg-6">
                <h1 style="font-family:Signika Negative; font-size: 35px;">{{product.name}}
                <br><br>
                {% load humanize %}
                <div class="current-price">
                    <span id= "formatprice" itemprop="price" style="color:green">${{product.selling_price|intcomma}}</span>
                    <div style="font-size:20px; display:inline-block">
                        IVA incluido
                    </div>
                </div>
                <br>
                <h4 style="font-family:Signika Negative">Información adicional</h4>
                <ul class="fs-5" style="font-family: Chakra Petch;">
                    <li>{{product.composition}}</li>
                    <li>{{product.prodapp}}</li>
                </ul>
                <h6>Stock: {{product.stock}}</h6>
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value={{product.id}} />
                    {% if request.user.is_authenticated %}
                    <button type="submit" class="btn btn-success shadow py-2" style="font-size:14px; font-weight:550; padding:10px 20px; border-radius:4px">Añadir al carro</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-success shadow py-2" style="font-size:14px; font-weight:550; padding:10px 20px; border-radius:4px">Añadir al carro</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
    </div>
{% endblock main-content %}



