{% extends 'app/base.html' %}
{% load static %}
{% block title %}Productos{% endblock title %}

{% block main-content %}
{% for subcategory in subcategories  %}
<li>{{subcategory.name}}</li>

{% endfor %}
    
    <div id="banner" class="section-m1" style="margin: 20px 0; display:flex; flex-direction:column; justify-content:center;align-items:center; width:100%; background-size:cover; background-position:cover;">
        <img src="{% static 'app/images/banner/banner.png.jpg' %}" style="width:100%">
    </div>
{% endblock main-content %}